{% extends "base.html" %}
{% block content %}
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-4">
      <h2>Использованные технологии:</h2>
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML/CSS</li>
        <li>DjangoORM</li>
        <li>Git</li>
      </ul>
    </div>
    <div class="col-md-8">
      <h1>Вот что я умею</h1>
      <p>Я создал сайт на Django, который позволяет пользователям создавать, редактировать и удалять посты, регистрироваться и входить в систему, оставлять комментарии, подписываться на других пользователей, а также восстанавливать пароль.</p>
      <p>Для создания сайта я использовал Python и фреймворк Django для быстрой разработки веб-приложений. HTML/CSS использовался для верстки и стилизации веб-страниц. DjangoORM использовался для работы с базой данных и Git для контроля версий.</p>
      <p>Дизайн сайта выполнен в темно-синих и белых тонах.</p>
      <p>Этот сайт был моим первым опытом работы с Django, и я приобрел множество навыков и знаний в процессе его создания. Я был заинтересован в изучении Django из-за его популярности и эффективности, и я не разочаровался в этом фреймворке.</p>
    </div>
  </div>
</div>
{% endblock %}