{% extends 'base.html' %}
{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container py-5">
    <h1>Лев Толстой – зеркало русской революции.</h1>
    <p>{{ group }}</p>
    {% for post in posts %}
        <article>
            {% include 'includes/card.html' with author=post.author.get_full_name text=post.text date=post.pub_date|date:"d E Y" %}   
            {% if not forloop.last %}<hr>{% endif %}
        </article>
    {% endfor %}       
<!-- под последним постом нет линии -->
</div>
{% endblock %}