{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        {% if author.username %}
            <h1 class="mb-4">Посты пользователя {{ author.username }}</h1>
        {% else %}
            <h1 class="mb-4">Посты неизвестного пользователя</h1>
        {% endif %}
        <h3 class="mb-4">Всего постов: {{ cnt_posts_user }}</h3>
        {% if user.is_authenticated and user != author %}
            <div class="d-flex justify-content-end mb-4">
                {% if following %}
                    <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
                        Отписаться
                    </a>
                {% else %}
                    <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
                        Подписаться
                    </a>
                {% endif %}
            </div>
        {% endif %}

        {% for post in page_obj %}
            <article>
                {% include 'includes/card.html' with post=post %}
                {% if not forloop.last %}<hr>{% endif %}
            </article>
        {% endfor %}

        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}
